@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #67917a; /* primária */
  --color2: #170409; /* fundo */
  --color3: #b8af03; /* destaque */
  --color4: #ccbf82; /* secundária */
  --color5: #e33258; /* alerta */
}

body {
  background-color: var(--color2);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}